$colorPrimario: rgb(187, 187, 187);
$colorSecundario:  rgb(187, 187, 187);
$colorBlack: black;
$headerColor:blanchedalmond;
$productosColor: beige;
$colorTienda:darkgrey ;
$colorAlmuerzos: beige;
$colorPatisserie: beige;
$colorViennoiseries:beige;


$fontPrimaria:'Dancing Script', cursive;
$fontSecundaria: Arial, Helvetica, sans-serif; 
$fontProductos:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fonTienda:'Patua One', cursive;
$fontAlmuerzos:'Ubuntu', sans-serif;
$fontPatisserie: 'Ubuntu', sans-serif;